<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cube9.afary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.microphone" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.UserSignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".user.signup.CompleteRegistrationActivity" />
        <activity android:name=".user.home.HomeActivity" />
        <activity android:name=".ChooseRoleActivity" />
        <activity
            android:name=".user.home_services.HomeServiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".search_address.SearchAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZkMb7iU9Rx8OsoCdB7OXqQa36qa9h-lY" />

        <activity
            android:name=".user.home_services.HouseServiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.payment.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".user.home_services.ElectricianRequestActivity" />
        <activity android:name=".vendor.view.VendorSignUpActivity" />
        <activity android:name=".vendor.view.CompleteVenderSignUpActivity" />
        <activity android:name=".vendor.view.CaptureCameraActivity"></activity>
    </application>

</manifest>